main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5vh;
}
.rules {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
}

.rules > h1 {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.rules > p {
  text-align: justify;
  line-height: 3vh;
  text-justify: inter-word;
  margin-top: 1vh;
  margin-bottom: 3vh;
}
